.navbar-collapse h1{
    color: #80d000;
    font-weight: bolder;
}

.navbar-collapse ul{
    /* background-color: aqua; */
    justify-content: space-around;
}



.header-home{
    color: #80d000;
}

.nav-item a:hover{
    color: #80d000;
}

.dropdown-menu{
    background-color: rgba(255, 166, 0, 0.22);
}

.header-icons {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.bg-img-main {
    position: relative;
    height: 500px;
    background-size: cover;
    display: flex;
}

.bg-img-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("./image/vegBg.jpg");
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.left{
    padding-left: 10%;
    padding-top: 25px;
}

.left p{
    color: orange;
    font-size: xx-large;
    font-weight: 600;
}

.left h1{
    font-size: 70px;
    font-weight: bolder;
    color: #80d000;
}

.search{
    position: relative;
}

.search input{
    height: 60px;
    padding-left: 50px;
}

.search-1{
    width: 100%;
    border-radius: 25px;
}

.search-btn{
    position: absolute;
    z-index: 1;
    right: 0;
    border-radius: 50px;
    height: 60px;
    background-color: #80d000;
    color: white;
    font-weight: 600;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    width: auto;
    height: 400px;
    object-fit: cover;
    border-radius: 15px;
}

.cards-1{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    background-color: rgb(237, 237, 237);
}
.cards-2{
    width: 23%;
    display: flex;
    justify-content: space-around;
}

.card{
    width: 23%;
    text-align: center;
}

.card img{
    width: 70%;
    height: 150px;
}